.video-position {
  position: fixed;
  z-index: 99999;
  bottom: 0;
  margin: auto;
  padding: 10px;
}

.wrapper {
  height: 10000px;
  width: 100vw;

  .hand-position {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-size: 6em;
    left: 50%;
    font-family: sans-serif;
  }
}
